{% extends 'base.html' %}
{% load bootstrap5 %}

{% block 'content' %}

    <h2 class="text-center">Daftar Blog</h2>

    <a href="{% url 'create' %}" class="btn btn-primary my-2">Tambah Blog Baru</a>

    {% bootstrap_messages %}

    <table class="table table-bordered table-striped">
        <tr>
            <th>Judul</th>
            <th>Kategori</th>
            <th>Publish</th>
            <th>Dibuat</th>
            <th>Aksi</th>
        </tr>
        {% for blog in blogs %}
        <tr>
            <td>{{blog.judul}}</td>
            <td>{{blog.kategori}}</td>
            <td>{{blog.tgl_publish}}</td>
            <td>{{blog.tgl_dibuat}}</td>
            <td>
                <a href="{% url 'update' blog.id %}" class="btn btn-warning text-white">Edit</a>
                <a href="{% url 'delete' blog.id %}" class="btn btn-danger" onclick="return confirm('Apakah anda ingin menghapusnya?')">Hapus</a>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}